@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

.header {
  display: flex;
  justify-content: center;
  font-family: "Architects Daughter", cursive;
  font-size: xx-large;
  text-decoration: underline;
  margin: 10px;
  color: rgb(213, 238, 121);
}
